<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="slam_quad">

  <!-- Main drone body -->
  <link name="base_link"/>

  <!-- 3D LiDAR -->
  <link name="lidar_link"/>

  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <origin xyz="0 0 0.085"
            rpy="0 0 0"/>
  </joint>

  <!-- RGB-D camera -->
  <link name="camera_link"/>

  <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="0.1125 0 0.025"
            rpy="0 0 0"/>
  </joint>

  <!-- ROS optical camera frame -->
  <link name="camera_optical_frame"/>

  <joint name="camera_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_optical_frame"/>
    <origin xyz="0 0 0"
            rpy="-1.57079632679 0 -1.57079632679"/>
  </joint>

</robot>
